[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"
mypy = "*"
black = "*"
pytest = "*"
pytest-cov = "*"

[packages]
confluent-kafka = "*"
structlog = "*"
marshmallow = "*"
marshmallow-dataclass = "*"
pygithub = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
